APP_NAME=imet_offline
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

# Updating system
NATIVEPHP_UPDATER_ENABLED=true
NATIVEPHP_UPDATER_PROVIDER=github
GITHUB_REPO=imet
GITHUB_OWNER=andreamarelli
GITHUB_TOKEN=
GITHUB_V_PREFIXED_TAG_NAME=true
GITHUB_PRIVATE=true
GITHUB_CHANNEL=latest
GITHUB_RELEASE_TYPE=draft
AUTOUPDATE=

# DEVELOPMENT
VITE_APP_NAME="${APP_NAME}"
COMPOSER_GITHUB_TOKEN=
