APP_NAME=imet_offline
APP_ENV=imetoffline
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

# imet_launcher takes care of setting IMET_OFFLINE_VERSION correctly during release creation
IMET_OFFLINE_VERSION=DEV

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=offline_public

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

PROTECTED_PLANET_API_KEY=
MAPBOX_ACCESS_TOKEN=
