APP_NAME=imet_offline
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

CSV_PROTECTED_AREAS_SAMPLE_FILE=WDPA_WDOECM_Public_all_csv.csv
CSV_SPECIES_SAMPLE_FILE=species.csv
CSV_VERNACULAR_NAMES_SAMPLE_FILE=vernacular_names.csv

# Updating system
NATIVEPHP_UPDATER_ENABLED=true
NATIVEPHP_UPDATER_PROVIDER=github
GITHUB_REPO=imet-offline
GITHUB_OWNER=imettool
GITHUB_TOKEN=
GITHUB_V_PREFIXED_TAG_NAME=true
GITHUB_PRIVATE=true
GITHUB_CHANNEL=latest
GITHUB_RELEASE_TYPE=draft
AUTOUPDATE=

# DEVELOPMENT
VITE_APP_NAME="${APP_NAME}"
