# Modules & Libraries
/node_modules
/vendor
/packages


# Development
.idea/
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
.phpunit.result.cache
.cache

# Envirnoment
.env
/public/hot
/public/storage
/public/basket
/storage/
