/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/assets/js/templates/imet_progress_bar.vue?vue&type=style&index=0&id=6acae958&lang=scss&scoped=true& ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************/
.pgr-bar[data-v-6acae958] {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.pgr-bar .pgr-bar__bar[data-v-6acae958] {
    flex-grow: 1;
}
.pgr-bar .pgr-bar__limit-left[data-v-6acae958] {
    width: 30px;
    text-align: right;
    padding-right: 3px;
}
.pgr-bar .pgr-bar__limit-right[data-v-6acae958] {
    width: 30px;
    text-align: left;
    padding-left: 3px;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/assets/js/templates/imet_charts.vue?vue&type=style&index=0&id=02895ee8&lang=scss&scoped=true& ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************/
.container[data-v-02895ee8] {
  display: flex;
  width: 100%;
}
@media (min-width: 1000px) {
.container[data-v-02895ee8] {
      flex-direction: row;
}
.container .imet_histogram[data-v-02895ee8] {
        flex-grow: 1;
}
}
@media (max-width: 999px) {
.container[data-v-02895ee8] {
      flex-direction: column;
      align-items: center;
}
.container .imet_histogram[data-v-02895ee8] {
        width: 100%;
}
}
.container .imet_histogram .imet_histogram__row[data-v-02895ee8] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.container .imet_histogram .imet_histogram__row .imet_histogram__label[data-v-02895ee8] {
      width: 210px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
}
.container .imet_histogram .imet_histogram__row .imet_histogram__value[data-v-02895ee8] {
      width: 40px;
}
.container .imet_histogram .imet_histogram__row .imet_histogram__progress_bar[data-v-02895ee8] {
      flex-grow: 1;
}
.container .imet_radar[data-v-02895ee8] {
    text-align: center;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/assets/js/templates/imet_radar.vue?vue&type=style&index=0&id=f8a1467a&lang=scss&scoped=true& ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/assets/js/inputs/multiple-files-upload.vue?vue&type=style&index=0&id=cadb8ebe&lang=scss&scoped=true& ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************/
.vue-dropzone[data-v-cadb8ebe] {
  height: 300px;
  max-height: 300px;
  overflow: auto;
  background: #fff;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/assets/js/inputs/selector-wdpa_multiple.vue?vue&type=style&index=0&id=0400f0a6&lang=scss&scoped=true& ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************/
[v-cloak][data-v-0400f0a6] {
  display: none;
}
.module-container .selector-wdpa_multiple .field-preview[data-v-0400f0a6] {
  min-width: 80px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: top;
}
.module-container .selector-wdpa_multiple .field-preview i.removeItem[data-v-0400f0a6] {
    color: #F87171;
    cursor: pointer;
}
.module-container .selector-wdpa_multiple .field-preview i.removeItem[data-v-0400f0a6]:hover {
      color: #262626;
}

/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/index.scss ***!
  \****************************************************************************************************************/
.imet_modules .field-edit,
.imet_modules .field-enabled,
.imet_modules .field-preview,
.imet_modules .field-disabled {
  color: #404040; }

.imet_name {
  display: flex;
  flex-direction: column; }
  .imet_name .imet_pa_name {
    font-size: 1.1em;
    flex-grow: 1; }

.imet_responsible {
  font-size: 0.85em;
  text-align: left; }
  .imet_responsible ul {
    margin: 0;
    padding-inline-start: 15px; }
    .imet_responsible ul li {
      line-height: 1.4em; }
  .imet_responsible button {
    margin-top: 5px; }
  .imet_responsible .hidden {
    display: none !important; }

.histogram-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .histogram-row .histogram-row__code {
    width: 45px; }
  .histogram-row .histogram-row__title {
    width: 340px;
    padding-left: 5px;
    padding-right: 5px; }
  .histogram-row .histogram-row__value {
    width: 45px; }
  .histogram-row .histogram-row__progress-bar {
    font-size: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .histogram-row .histogram-row__progress-bar .histogram-row__progress-bar__bar,
    .histogram-row .histogram-row__progress-bar .histogram-row__progress-bar__spacer {
      flex-grow: 1; }
    .histogram-row .histogram-row__progress-bar .histogram-row__progress-bar__limit-left {
      width: 40px;
      text-align: right;
      padding-right: 3px; }
    .histogram-row .histogram-row__progress-bar .histogram-row__progress-bar__limit-right {
      width: 40px;
      text-align: left;
      padding-left: 3px; }

.progress_bar_label,
.progress_bar,
.progress_bar_container {
  padding: 0; }

.progress_bar_limits {
  font-size: 10px;
  padding: 0 3px 0 0;
  text-align: right; }

.progress_bar_limits_left {
  font-size: 10px;
  padding: 0 0 0 3px;
  text-align: left; }

.progress {
  margin: 2px 0;
  vertical-align: bottom; }

.progress-bar {
  color: #000000;
  font-weight: bold;
  -webkit-print-color-adjust: exact; }

.progress-bar-negative {
  float: right;
  color: Red; }

.synthetic_indicator {
  font-size: 1.2em; }

.footer_ribbon.imet {
  font-size: 1em; }

#imet_header {
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  padding: 0 10px; }

.language_selector {
  padding: 10px 0 20px 30px; }
  .language_selector li {
    text-align: left;
    white-space: nowrap; }
    .language_selector li:first-of-type {
      padding: 0 15px 0 25px; }
    .language_selector li a {
      padding: 8px 30px; }

#imet_report #map {
  height: 400px;
  width: 100%;
  margin-bottom: 20px; }

#imet_report #radar {
  margin-right: 20px;
  width: 400px;
  text-align: center; }

#imet_report #buttons {
  text-align: right; }

@media print {
  #imet_report #buttons {
    display: none; } }

#imet_report table td, #imet_report table th {
  padding: 5px;
  text-align: center;
  border: 1px solid white;
  background-color: white; }

#imet_report table th,
#imet_report .bordered {
  border: 1px solid #ccc; }

#imet_report table td.avg_index {
  text-transform: uppercase;
  font-weight: bold;
  color: black; }

#imet_report table td.avg_sub_index {
  font-weight: bold;
  color: black; }

#imet_report table#global_scores th,
#imet_report table#global_scores td {
  font-weight: bold; }

#imet_report table#detailed_scores {
  font-size: 0.9em;
  table-layout: fixed;
  width: 100%; }
  #imet_report table#detailed_scores td {
    word-break: break-all; }

#imet_report .score_success {
  color: white;
  background-color: #00A74B !important;
  border: 1px solid #ccc;
  -webkit-print-color-adjust: exact; }

#imet_report .score_warning {
  color: black;
  background-color: yellow !important;
  border: 1px solid #ccc;
  -webkit-print-color-adjust: exact; }

#imet_report .score_alert {
  color: black;
  background-color: orange !important;
  border: 1px solid #ccc;
  -webkit-print-color-adjust: exact; }

#imet_report .score_danger {
  color: white;
  background-color: darkred !important;
  border: 1px solid #ccc;
  -webkit-print-color-adjust: exact; }

#imet_report .swot {
  width: 99%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

#imet_report div.dopa_not_available {
  width: 100%;
  font-size: 1.3em;
  text-align: center;
  padding: 60px 0;
  color: #00A74B; }

