#imet_footer {
    display: flex;
    @apply bg-gray-100;
    justify-content: space-evenly;
    padding: 8px;
    @apply text-sm;
    .version{
        @apply font-bold text-primary-600 mr-2;
    }
    .channel{
        @apply font-bold text-red-600;
    }
}
